<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <title>AubeyMusician.cadastro</title>
            <link rel="stylesheet" href="../public/style01.css">
        </head>
    
        <body>
            <nav>
                <div class="Nav-Bar">
                    <h1 class="logo-text">Audiary</h1>
                
                        <a href="/login"><button class="Botao-login">Login</button></a>
                
                </div>
            </nav>

            <div class = "main-page">
            <h2 class="Texto-Bem-vindo">Bem-Vindo</h2>
                <h3 class="Texto-CADASTRO">CADASTRO</h3>
                
                    <form action="/auth/cadastro" method="POST">
                        <div class="central-inputs">
                            <div class="Nome-Input">
                                <label for="IDnome">Digite seu nome completo:</label>
                                <input placeholder="Joãozino altinho" type="text" id="IDnome" name="nome">
                            </div>

                            <div class="User-Input">
                                <label for="IDusuario">Digite seu nome de usuario <span class="obrigatorio">*</span>:</label>
                                <input placeholder="joazinho123" type="text" id="IDusuario" name="usuario" required>
                            </div>

                            <div class="Email-Input">
                                <label for="IDemail">Digite seu Email <span class="obrigatorio">*</span>:</label>
                                <input placeholder="joao@email.com" type="email" id="IDemail" name="email" required>
                            </div>

                            <div class="CEP-input">
                                <label for="IDcep">CEP <span class="obrigatorio">*</span>:</label>
                                <input placeholder="00000-000" type="text" id="IDcep" name="cep" required maxlenght="9">
                            </div>

                            <div class="Senha-Input">
                                <label for="IDsenha">Digite sua Senha <span class="obrigatorio">*</span>:</label>
                                <input placeholder="12345" type="password" id="IDsenha" name="senha" required minlength="5" maxlength="10">
                            </div>

                            <div class="Second-senha-input">
                                <label for="IDSecond-senha">Repita a sua senha <span class="obrigatorio">*</span>:</label>
                                <input placeholder="12345" type="password" id="IDSecond-senha" name="Second-senha" required minlength="5" maxlength="10">
                            </div>

                            <button class="Botao-Enviar" type="submit">Cadastrar</button>
                            
                            <div class="link-auxiliares">
                                    <br>
                                <a href="/termos">Termo de uso de dados e cookies</a>
                            </div>
                        </div>
                    </form>
            </div>
            <footer>
                <p>Copyrights: 2026 Audiary - Todos os direitos reservadors.</p>
            </footer>
        </body>
    </html>