<!DOCTYPE html>
<html lang="pt-br">
    <head>
       <script src="https://cdn.tailwindcss.com"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Audiary/Recuperacao_Senha</title>
    </head>
    
    <body class="bg-gray-100 min-h-screen flex items-center justify-center">
        <main class="bg-white p-8 rounded-xl shadow-lg w-full max-w-md">
            <div class="text-centermb-8>
                <h1 class="text-3xl font-bold text-blue-600">Audiary</h1>
                <p class="text-gray-500 mt-2">Esqueceu a sua senha? Normal! recupere aqui!</p>
            </div>
            <p class="text-sm text-gray-600 mb-6">
                Insira Aqui o email que você lembra estar cadastrado e então enviaremos uma mensagem para ti!
            </p>
            <form action="/auth/recuperar-senha" method="POST" class="space-y-4">
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">Seu Email:</label>
                    <input type="emmail" id="email" name="email" required placeholder="JoãoAltinho@vasco.com"
                        class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">

                </div>
                <button type="submit"
                    class="w-full bg-blue-600 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-700 transition duration-200">
                    Enviar Link de recuperação!
                </button>
            </form>
            <div class="mt-6 text-center">
                <a href="/login" class="text-sm text-blue-600 hover:underline">Voltar para o Login</a>
            </div>

        </main>

    </body>
    <footer>
        <p>Copyrights: 2026 Audiary - Todos os direitos reservadors.</p>
    </footer>
</html>